$breakpoint-mobile: 18.75em; //300px
$breakpoint-mobileLarge: 25em; //400px
$breakpoint-mobileLandscape: 36em; //576px
$breakpoint-tablet: 48em; //768px
$breakpoint-tabletLandscape: 64em; //1024px
$breakpoint-desktop: 80em; //1280px
$breakpoint-desktopMedium: 85em; // 1360px TODO: REMOVE
$breakpoint-desktopLarge: 96em; //1536px
$breakpoint-full: 120em; //1920px
