@import 'settings';
@import '_backline-mixins';

.NewsletterSignup {
  position: relative;
  border: 2px solid $color-common-black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f2f2f2;
}

.Title {
  font-weight: 300;
}

.Image {
  display: none;
}

.Image,
.MobileImage {
  object-fit: cover;
  object-position: center;
}

.Content {
  color: $color-common-black;
  z-index: 1;
  padding-top: spacing(6);
  padding-bottom: spacing(0);
  padding-left: spacing(6);

  & > * + * {
    margin-top: spacing(1);
  }
}

.Form {
  margin-top: spacing(2);
}

.Field {
  margin: 0;
  max-width: 30ch;
}

.Submit {
  margin: spacing(2) 0 0;
}

.Error {
  color: $color-status-error;
}

@include mq($breakpoint-tablet) {
  .NewsletterSignup {
    flex-direction: row;
  }

  .Form {
    display: flex;
    align-items: center;
  }

  .MobileImage {
    display: none;
  }

  .Image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    img {
      object-fit: contain;
      object-position: center;
    }
  }

  .Content {
    padding: spacing(18) 4em;
  }

  .Field {
    flex: 0 0 30%;
    margin-right: spacing(2);
  }

  .Submit {
    margin: 0;
    align-self: flex-end;
  }
}
