@import 'settings';
@import '_backline-mixins';

.NewsletterSignup {
  position: relative;
  border: 2px solid $color-common-black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Title {
  font-weight: 400;
}

.Subtitle {
  line-height: 1.6;
  max-width: 40ch;
}

.Image {
  display: none;
}

.Image,
.MobileImage {
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}

.Content {
  color: $color-common-black;
  z-index: 1;
  padding-top: spacing(8);
  padding-bottom: spacing(8);

  & > * + * {
    margin-top: spacing(1);
  }
}

.Form {
  margin-top: spacing(2);
}

.Field {
  margin: 0;
  max-width: 30ch;
}

.Submit {
  margin: spacing(2) 0 0;
}

.Error {
  color: $color-status-error;
}

@include mq($breakpoint-tablet) {
  .Form {
    display: flex;
    align-items: center;
  }

  .MobileImage {
    display: none;
  }

  .Image {
    display: block;
  }

  .Content {
    padding: spacing(18) 4em;
  }

  .Field {
    flex: 0 0 30%;
    margin-right: spacing(2);
  }

  .Submit {
    margin: 0;
    align-self: flex-end;
  }
}
