@import 'settings';
@import '_backline-mixins';

.GalleryPostPreview {
  display: block;
  border: $border-standard;
  @media (hover: hover) {
    &:hover {
      .Details {
        background-color: $color-primary-accent;
        transition: $duration-shorter $easing-standard;
      }
    }
  }
}

.Details {
  padding: spacing(1);
  color: $color-primary-black;
  border-top: $border-standard;
  transition: $duration-shorter $easing-standard;
  text-transform: uppercase;
}
