@import 'settings';
@import '_backline-mixins';

.GalleryPostPreview {
  display: block;
  border: $border-standard;
  @media (hover: hover) {
    &:hover {
      .Details {
        background-color: $color-primary-accent;
        transition: $duration-shorter $easing-standard;
      }
    }
  }
}

.PinterestPin {
  position: absolute;
  right: spacing(2);
  top: spacing(2);
  z-index: 8;
}

.Details {
  padding: spacing(0.5);
  color: $color-primary-black;
  border-top: $border-standard;
  transition: $duration-shorter $easing-standard;
  text-transform: uppercase;
}
