@import 'settings';
@import '_backline-mixins';

.SocialShare {
  display: block;
  &:hover {
    transform: scale(1.06);
    transition: $easing-standard $duration-shorter;
  }
}

.SocialBlock {
  margin: spacing(2) 0;
  display: flex;
  justify-content: flex-start;

  & > a {
    margin-right: spacing(1);
    &:last-child {
      margin-right: 0;
    }
  }
}
