@import 'settings';
@import '_backline-mixins';

.BlogPostCarousel {
  overflow-x: hidden;
}

.Title {
  padding-bottom: spacing(2);
}

.ViewAll {
  color: $color-primary-purple;
  transition: $duration-shorter $easing-standard;

  &:hover {
    transition: $duration-shorter $easing-standard;
    color: $color-primary-red;
  }
}
