@import 'settings';
@import '_backline-mixins';

.ProductInformation {
  border: $border-standard;
  padding: spacing(2);
}

.Gallery {
  margin-bottom: spacing(1);
}

.SelectControl {
  margin-right: spacing(2);
  min-width: 130px;
}

.Options {
  display: flex;
}

.Option {
  display: block;
}

.Quantity {
  min-width: 130px;
  max-width: 150px;
  margin-bottom: spacing(1);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

button.BuyButton {
  text-transform: uppercase;
}

div.Description {
  border-top: $border-standard;
  margin-top: spacing(3);
  padding: spacing(2) 0;
}

.QuantityControl {
  display: flex;
  align-items: center;

  input {
    min-width: 40px;
  }

  button {
    border: $border-standard;
    max-height: 40px;
    max-width: 40px;

    &:hover,
    &:hover {
      background-color: $color-primary-accent;
    }

    &:first-child {
      margin-right: spacing(0.5);
    }
    &:last-child {
      margin-left: spacing(0.5);
    }

    &:disabled {
      background-color: $color-common-grey75;
    }
  }
}

@include mq($breakpoint-tablet) {
  .ProductDetails {
    display: flex;
    align-items: flex-start;
  }

  .ProductInformation {
    padding: spacing(3);
  }

  .Gallery {
    flex: 1 1 35%;
    margin-right: spacing(1);
    margin-bottom: 0;
  }

  .ProductInformation {
    flex: 1 1 65%;
    margin-bottom: 0;
  }
}

@include mq($breakpoint-desktop) {
  .Gallery {
    flex: 1 1 40%;
  }

  .ProductInformation {
    flex: 1 1 60%;
  }
}
