@import 'settings';
@import '_backline-mixins';

.Hero {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.Title {
  color: $color-primary-white;
  font-size: 4.5vw;
  line-height: 5vw;
}

.Subtitle {
  color: $color-primary-white;

  max-width: 50ch;
  @include mq($breakpoint-desktop) {
    font-size: 2.5vw;
    line-height: 3vw;
  }
}
