@import 'settings';
@import '_backline-mixins';

.Navigation {
  position: fixed;
  background-color: $color-primary-white;
  z-index: 300;
  width: 100%;
  left: 0;
}

.Wrapper {
  margin: 0 $layout-margin;
  border: $border-standard;

  display: flex;
  flex-direction: row-reverse;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    margin: 0 $layout-margin;
    background-color: $color-primary-white;
    height: spacing(1);
    top: spacing(-1);
    left: 0;
  }
}

// Branding

.Branding {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  order: 1;
  vertical-align: middle;
  color: $color-primary-black;
  font-weight: 600;
  // padding: spacing(1) spacing(1);
  letter-spacing: 1px;
  margin-right: auto;

  &:hover,
  &:focus {
    transition: 0.1 $easing-standard;
    text-decoration: underline;
  }
}

.Logo {
  padding: spacing(1) spacing(1.5);
  border-right: 2px solid $color-common-black;
  margin-right: spacing(1);

  svg {
    animation: spin 3s linear infinite;
  }
}

// Regular link

.NavLink,
.DropdownBtn {
  display: block;
  padding: spacing(1) spacing(1);
  color: $color-primary-black;
  text-transform: uppercase;
  border-left: $border-standard;
  letter-spacing: 0.5px;

  &:hover,
  &:focus {
    background-color: $color-primary-accent;
  }
}

.NavLinkInner {
  svg {
    margin-right: spacing(1);
  }
}

.NavLink {
  float: right;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Icon {
  margin-right: spacing(0.8);
}

.Icon,
.IconInner {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Nav toggle

.ToggleNavButton {
  display: none;
}

// Dropdown

.Dropdown {
  float: right;

  &:hover {
    .DropdownBtn {
      background-color: $color-primary-accent;
    }

    .DropdownContent {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.DropdownBtn {
  &:focus .DropdownContent,
  &:active .DropdownContent {
    opacity: 1;
  }
}

.DropdownContent {
  position: absolute;
  z-index: 300;
  top: 42px;
  opacity: 0;
  pointer-events: none;
  background-color: $color-primary-white;
  border: $border-standard;
}

.DropdownLink {
  float: none;
  padding: spacing(1);
  width: 100%;
  text-align: left;
  background-color: $color-primary-white;
  border: none;
  border-top: $border-standard;

  &:first-child {
    border-top: none;
  }
}

.Branding {
  display: flex;
  flex-grow: 0;
}

// Mobile only styles

@include mq(null, $breakpoint-tabletLandscape) {
  .NavLink,
  .Dropdown .DropdownBtn {
    display: none;
  }

  .ToggleNavButton {
    float: right;
    display: block;
    position: absolute;
    right: spacing(2);
    top: spacing(1.1);
    z-index: 9999;
  }

  .Logo {
    width: 2.8rem;
  }

  .NavLink {
    overflow: hidden;
    .Icon {
      width: 2.3rem;
      
      position: relative;
      margin-right: spacing(0.5);

      .IconInner {
        position: relative;
        left: -0.3em;
      }
      

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 2px;
        height: 120px;
        border-right: 2px solid $color-primary-black;
      }
    }
  }

  .Wrapper.showNav {
    display: flex;
    flex-direction: column-reverse;

    .NavLink,
    .DropdownBtn {
      float: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      width: 100%;
      border: none;
      border-top: $border-standard;
      &:hover {
        background-color: $color-primary-accent;
      }
    }

    .DropdownContent {
      position: absolute;
    }

    .Dropdown:hover {
      .DropdownBtn {
        background-color: $color-primary-accent;
        border-left: $border-standard;
      }

      .DropdownContent {
        position: relative;
        top: 0;
        border-right: 0;
        border-top: 0;
      }
    }
  }
}


@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}