@import 'settings';
@import '_backline-mixins';

.Navigation {
  position: fixed;
  background-color: $color-primary-white;
  z-index: 300;
  width: 100%;
  left: 0;
}

.Wrapper {
  margin: 0 $layout-margin;
  border: $border-standard;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    margin: 0 $layout-margin;
    background-color: $color-primary-white;
    height: spacing(1);
    top: spacing(-1);
    left: 0;
  }
}

// Branding

.Branding {
  display: inline-block;
  position: relative;
  order: 1;
  vertical-align: middle;
  color: $color-primary-black;
  font-weight: 600;
  padding: spacing(1) spacing(1);

  &:hover,
  &:focus {
    font-weight: 900;
    transition: 0.1 $easing-standard;
  }
}

// Regular link

.NavLink,
.DropdownBtn {
  display: block;
  padding: spacing(1) spacing(1);
  color: $color-primary-black;
  text-transform: uppercase;
  border-left: $border-standard;

  &:hover,
  &:focus {
    background-color: $color-primary-accent;
  }
}

.NavLink {
  float: right;
}

// Nav toggle

.ToggleNavButton {
  display: none;
}

.ToggleNavButton {
  &:hover {
    svg path {
      fill: $color-primary-accent;
      stroke: $color-primary-accent;
    }
  }
}

// Dropdown

.Dropdown {
  float: right;

  &:hover {
    .DropdownBtn {
      background-color: $color-primary-accent;
    }

    .DropdownContent {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.DropdownBtn {
  &:focus .DropdownContent,
  &:active .DropdownContent {
    opacity: 1;
  }
}

.DropdownContent {
  position: absolute;
  z-index: 300;
  top: 42px;
  opacity: 0;
  pointer-events: none;
  background-color: $color-primary-white;
  border: $border-standard;
}

.DropdownLink {
  float: none;
  padding: spacing(1);
  width: 100%;
  text-align: left;
  background-color: $color-primary-white;
  border: none;
  border-top: $border-standard;

  &:first-child {
    border-top: none;
  }
}

// Mobile only styles

@include mq(null, $breakpoint-mobileLandscape) {
  .NavLink,
  .Dropdown .DropdownBtn {
    display: none;
  }

  .ToggleNavButton {
    float: right;
    display: block;
    position: absolute;
    right: spacing(2);
    top: spacing(1.1);
    z-index: 9999;
  }

  .Wrapper.showNav {
    display: flex;
    flex-direction: column-reverse;

    .NavLink,
    .DropdownBtn {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      border: none;
      border-top: $border-standard;
      &:hover {
        background-color: $color-primary-accent;
      }
    }

    .DropdownContent {
      position: absolute;
    }

    .Dropdown:hover {
      .DropdownBtn {
        background-color: $color-primary-accent;
        border-left: $border-standard;
      }

      .DropdownContent {
        position: relative;
        top: 0;
        border-right: 0;
        border-top: 0;
      }
    }
  }
}
