@import 'settings';
@import '_backline-mixins';

.CustomGrid {
  display: grid;
  margin-bottom: spacing(1);
}

.fiveItem {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'first second'
    'third third'
    'fourth fifth';

  gap: spacing(1);

  & > *:nth-child(3) {
    grid-area: third;
  }

  @include mq($breakpoint-mobileLandscape) {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      'first second third'
      'fourth second fifth';

      & > *:nth-child(3) {
        grid-area: second;
      }
  }
}

.GridItem {
  border: $border-standard;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  &:hover,
  &:focus {
    .Image {
      transform: scale(1.05);
      transition: $duration-shorter $easing-standard;
    }
    .Title {
      background-color: $color-primary-accent;
      transition: $duration-shorter $easing-standard;
      text-decoration: none;
    }
  }
}

.Image {
  height: 100%;
  transition: $duration-shorter $easing-standard;
}

.Title {
  margin-top: auto;
  flex-grow: 0;
  flex-shrink: 1;
  padding: spacing(1);
  color: $color-primary-black;
  border-top: $border-standard;
  transition: $duration-shorter $easing-standard;
  text-transform: uppercase;
  z-index: 1;
}
