
.GugisHead {
  height: 90%;
}

svg,
path,
line {
  stroke-linecap: round;
}

/* path:hover {
  transform: scale(1.1);
} */

// .ear {
//   cursor: none;
//   transition: 0.25s ease;
// }

// .ear:hover,
// .ear:hover ~ .ear {
//   fill: #e258b0;
//   transition: 0.25s ease;
// }

.eye:hover .Cursor {
  width: 20px;
  height: 20px;
}

.eye {
  r: 15;
  animation: shrink 0.2s forwards ease-in;
}

.eyeWide {
  animation: widen 0.2s forwards ease-in;
}

.Line {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
}

.LeftLineOne {
  stroke-dasharray: 100;
  animation: fadeIn 1.3s forwards 0s, dash2 5s linear 2s reverse;
}

.LeftLineTwo {
  stroke-dasharray: 100;
  animation: fadeIn 1.3s forwards 0s, dash2 5s linear 2s forwards;
}

.LeftLineThree {
  stroke-dasharray: 100;
  animation: fadeIn 1.3s forwards 0s, dash2 5s linear 2s reverse;
}

.RightLineOne {
  stroke-dasharray: 100;
  animation: fadeIn 1.3s forwards 0s, dash2 5s linear 2s reverse;
}

.RightLineTwo {
  stroke-dasharray: 100s;
  animation: fadeIn 1.3s forwards 0s, dash2 5s linear 2s reverse;
}

.RightLineThree {
  stroke-dasharray: 100;
  animation: fadeIn 1.3s forwards 0s, dash2 5s linear 2s reverse;
}

.linesAnimation .Line {
  stroke-dasharray: 100;
  animation: dash2 5s linear reverse infinite;
}

.linesAnimation .LeftLineTwo {
  animation: dash2 5s linear infinite forwards;
}

.linesAnimation .ear {
  fill: #e258b0;
}

/* .EyeLeft, .EyeRight {
  position: relative;
  animation: eye1 0 2s forwards 2.1s,
              eye2 0.2s forwards 2.5s,
              eye3 0.2s forwards 3.3s;
} */

@keyframes widen {
  0% {
    r: 15;
  }
  100% {
    r: 19;
  }
}

@keyframes shrink {
  0% {
    r: 19;
  }
  100% {
    r: 15;
  }
}

@keyframes moveHead {
  0% {
    transform: scale(0);
  }
  /* 20% {
    transform: rotate(5deg);
  } */

  /* 40% {
    transform: rotate(0deg);
  }  */
  /* 60% {
    transform: rotate(-5deg);
  } */
  80% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 980;
  }
}

@keyframes eye1 {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 7px);
  }
}

@keyframes eye2 {
  0% {
    transform: translate(0, 7px);
  }

  100% {
    transform: translate(7px, 0px);
  }
}

@keyframes eye3 {
  0% {
    transform: translate(7px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes Eyes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
  }

  30% {
    transform: rotate(0deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
