@import 'settings';
@import '_backline-mixins';

.PageTitle {
  padding: 0.2rem;
  border: $border-standard;
  text-transform: uppercase;
  margin-bottom: spacing(1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}