@import 'settings';
@import '_backline-mixins';

.PageTitle {
  padding: spacing(0.5);
  border: $border-standard;
  text-transform: uppercase;
  margin-bottom: spacing(1);

  display: flex;
  justify-content: space-between;
}