@import 'settings';
@import '_backline-mixins';

.StorePostPreview {
  position: relative;
}

.Header {
  position: relative;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @include mq($breakpoint-mobileLandscape) {
    grid-template-columns: 1fr 1fr;
  }

  @include mq($breakpoint-tabletLandscape) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include mq($breakpoint-desktopLarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &.MobileGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.FloatingControls {
  position: fixed;
  right: spacing(1);
  top: spacing(7.5);
  max-height: 400px;

  z-index: 10;
  @include mq(null, $breakpoint-tabletLandscape) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.CategoryPicker {
  position: relative;
  top: -2px;
}

button.CartButton {
  border: $border-standard;

  @include mq($breakpoint-tabletLandscape) {
    height: 100%;
  }
}

.ControlsWrapper {
  display: flex;
}

a.Favorites {
  position: relative;
  display: block;
  height: 1.9rem;
  width: 1.9rem;
  background-color: $color-common-white;
  border: $border-standard;
  margin-right: -2px;
  color: $color-primary-red;

  @include mq($breakpoint-tabletLandscape) {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: -5px;
  }

  svg {
    stroke: $color-common-black;
    stroke-width: 4em;
    paint-order: stroke;
    width: 1.3em;
    height: 1.1em;
  }

  &:hover,
  &:focus {
    background-color: $color-primary-accent;
  }
}

.GridToggle {
  position: relative;
  border: $border-standard;
  border-right: none;
  background-color: $color-common-white;
  height: 1.9rem;
  width: calc(1.9rem + 0.5px);
  left: 0px;

  &:hover,
  &:focus {
    background-color: $color-primary-accent;
  }
}

.Cart {
  position: relative;

  button {
    min-height: 1.9rem;
  }

  @include mq($breakpoint-tabletLandscape) {
    top: spacing(0.5);
    button {
      height: 2.4rem;
    }
  }
}

@include mq($breakpoint-mobileLandscape) {
  .GridToggle {
    display: none;
  }
}

@include mq($breakpoint-tabletLandscape) {
  .FloatingControls {
    bottom: unset;
    display: flex;
    top: spacing(7.5);
  }
  .CategoryPicker {
    top: 0px;
  }

  .Cart {
    left: 3px;
    top: unset;
    margin-left: auto;
  }
}
