@import 'settings';
@import '_backline-mixins';

.ButtonStandard {
  position: relative;
  padding: spacing(1.1) spacing(2);
  line-height: spacing(2.5);
  font-weight: 500;
  background-color: $color-primary-white;
  color: $color-primary-black;
  transition: all $duration-standard $easing-standard;
  border: $border-standard;

  &:hover,
  &:focus {
    background-color: $color-primary-accent;
    color: $color-primary-black;
    transition-duration: $duration-shortest;
  }
}

.ButtonStandardSpinner {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  pointer-events: none;
  .ButtonStandardContent {
    transition-duration: $duration-shortest;
    opacity: 0;
  }

  .ButtonStandardSpinner {
    opacity: 1;
    margin-left: spacing(0.5);
  }
}

.disabled {
  background-color: $color-common-grey50;
}

.small {
  padding: spacing(0.3) spacing(0.5);
  @include mq($breakpoint-tablet) {
    padding: spacing(0.4) spacing(1);
  }
}

.large {
  padding: spacing(2) spacing(5);
  font-size: 1.5rem;
  font-weight: 500;

  @include mq($breakpoint-desktop) {
    padding: spacing(3) spacing(8);
    font-size: 2rem;
  }
}

.highlight {
  background-color: $color-primary-accent;
}

.noBorder {
  border-color: transparent;

  &:hover,
  &:focus {
    border: $border-standard;
  }
}