@import 'settings';
@import '_backline-mixins';

.Footer {
  padding-top: spacing(2);
  padding-bottom: spacing(2);
  border: $border-standard;
  text-align: center;
  color: $color-primary-black;
}

.Mantas {
  display: block;
  margin-top: spacing(0.5);
}