@import 'settings';
@import '_backline-mixins';

.PostPreview {
  display: block;
  border: $border-standard;
  @media (hover: hover) {
    &:hover {
      .Details {
        background-color: $color-primary-accent;
        transition: $duration-shorter $easing-standard;
      }
    }
  }
}

.Title {
  border-bottom: $border-standard;
  padding-bottom: spacing(1);
  margin-bottom: spacing(0.5);
}

.Description {
  text-transform: none;
}

.Details {
  padding: spacing(1);
  color: $color-primary-black;
  border-top: $border-standard;
  transition: $duration-shorter $easing-standard;
  text-transform: uppercase;

  & > * + * {
    padding-top: spacing(0.5);
  }
}
