@import 'settings';
@import '_backline-mixins';

.PostPreview {
  display: block;
  border: $border-standard;
  @media (hover: hover) {
    &:hover {
      background-color: $color-primary-accent;
      transition: $duration-shorter $easing-standard;
    }
  }
}

.ImageWrapper {
  position: relative;
}

.Category {
  position: absolute;
  bottom: -2px;
  right: -2px;
  border: $border-standard;
  padding: spacing(0.5);
  background: $color-common-white;
  color: $color-common-black;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: spacing(0.5);
  border-bottom: $border-standard;
  margin-bottom: spacing(0.5);
  padding-bottom: spacing(1);
}

.Description {
  text-transform: none;
}

.Details {
  padding: spacing(1);
  color: $color-primary-black;
  border-top: $border-standard;
  transition: $duration-shorter $easing-standard;
  text-transform: uppercase;

  & > * + * {
    padding-top: spacing(0.5);
  }
}
