@import 'settings';
@import '_backline-mixins';

.ProductPreview {
  position: relative;
  display: flex;
  flex-direction: column;

  border: $border-standard;
  @media (hover: hover) {
    &:hover {
      .Details {
        background-color: $color-primary-accent;
        transition: $duration-shorter $easing-standard;
      }

      button.HeartBtn {
        visibility: visible;
        transition: $duration-shorter $easing-standard;
      }

    }
  }
}

.Details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  color: $color-primary-black;
  border-top: $border-standard;
  transition: $duration-shorter $easing-standard;
  text-transform: uppercase;
}

.Title {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;

  &:after {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    border-right: $border-standard;
  }
}

button.HeartBtn {
  visibility:hidden;
  position: absolute;
  right: spacing(1);
  top: spacing(1);
  z-index: 4;
  color: $color-primary-white;
  transition: $duration-shorter $easing-standard;
  outline: none !important;
  border: none;

  svg { 
    width: 2.2em;
    path {
    stroke: $color-primary-black;
    stroke-width: 2em;
  }}

  &:hover,
  &:focus {
    color: $color-primary-red;
    outline: none !important;
  }

  &.favorite {
    color: $color-primary-red;
    visibility: visible;
  }


  @media (hover: none) {
    visibility:visible !important;
  }
}

.Price,
.Title {
  padding: spacing(0.5);
}
