@import 'settings';
@import '_backline-mixins';

.Title {
  margin-bottom: spacing(3);
}

.InstagramPosts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing(1);
}

.InstagramPost {
  border: $border-standard;
  display: block;

  & > div:first-child {
    display: block;
  }
}

.Body {
  margin-bottom: spacing(1);
}

@include mq($breakpoint-tabletLandscape) {
  .InstagramPosts {
    grid-template-columns: repeat(4, 1fr);
  }
}
