@import 'settings';
@import '_backline-mixins';

.Grid {
  display: block;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 100%;
  grid-column-gap: spacing(1);

  & > div {
    margin-bottom: spacing(1);
    height: 100%;
  }

  &.centered {
    & > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  @include mq($breakpoint-mobileLandscape) {
    display: grid;
    & > div {
      margin-bottom: auto;
    }
  }
}
