@import 'settings';
@import '_backline-mixins';

.ColorPalette {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end
}

.Color {
  height: spacing(3.5);
  width: spacing(3.5);
  outline: $border-standard;
  margin-top: 2px;

  @include mq($breakpoint-mobileLarge + 8) {
    height: spacing(5);
    width: spacing(5);
  }

  @include mq($breakpoint-tablet) {
    height: spacing(5.5);
    width: spacing(5.5);
  }
}

.Color:hover,
.Color:focus,
 .active {
  outline: $border-standard;
  outline-width: 3px;
  z-index: 2;
}