@import 'settings';
@import '_backline-mixins';

.Title {
  margin-bottom: spacing(3);
  margin-left: spacing(1);
}

.BlogPostPreview {
  margin: 0 spacing(1);
}

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.CategoryFilterWrapper {
  margin: spacing(2) spacing(1) spacing(1) spacing(1);

  @include mq($breakpoint-tablet) {
    margin: spacing(2) spacing(1) spacing(2) spacing(1);
  }
}

.CategoryFilter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  & > div {
    cursor: pointer;
    margin-right: spacing(1);
    margin-top: spacing(1);
    transition: $easing-standard $duration-short;
    &:hover {
      transform: scale(1.03);
      transition: $easing-standard $duration-short;
    }
  }
}
