@import 'settings';
@import '_backline-mixins';

.Layout {
  overflow: hidden;
  margin: $layout-margin;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Content {
  scroll-snap-type: y mandatory;
  margin-top: spacing(6.5);
  margin-bottom: spacing(1);
  flex-grow: 1;
}
