@import 'settings';
@import '_backline-mixins';

.Layout {
  overflow: hidden;
  margin: $layout-margin;
}

.Content {
  scroll-snap-type: y mandatory;
  margin-top: spacing(6.5);
  margin-bottom: spacing(1);
}
