@import 'settings';
@import '_backline-mixins';

.Banner {
  display: block;
  position: relative;
  border: $border-standard;
}

// .DesktopImage {
//   display: none;
//   @include mq($breakpoint-mobileLandscape) {
//     display: block;
//   }
// }

// .MobileImage {
//   display: block;
//   @include mq($breakpoint-mobileLandscape) {
//     display: none;
//   }
// }
